{% extends'base.html.twig' %}
{% block title %}book editor{% endblock %}
{% block body %}
  <h3 class="border-bottom border-gray pb-2 mg-0">Add new book to library</h3>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
